.header_menu{
    &__menu{
        display: flex;
        background-color: #046056;
        padding: 0 5%;
        margin: 0;
        justify-content: space-between;
        li {
            color: #fff;
            padding: 16px 20px;

        }
        li::marker{
            content: "";
        }
        li a {
            color:#fff;
            text-decoration: none;
        }
        li.active a{
            background: #fff;
            color:var(--primarycolor);
            border-radius: 12px;
            padding: 12px 16px;
            
        }
    }
    &__user{
        padding: 0 50px!important;
        border-radius: 50%;
        position: relative;
        color: #000!important;
        svg{
        padding: 20px;
            background-color: #FFF;
            border-radius: 50%;
            
        }
        
        &__menu{
            right:-20px;
            top:50px;
            position: absolute;
            z-index: 10000;
            background-color: #FFF;
            padding: 0;
            right: 0;
            left: 0;
            li{
                color:#000;
                a{
                    color:#000
                }
                
            }
        }

    }
}