.Login{
    width: 50%;
    margin: 40px auto;
    min-height: 350px;
    input{
        width: calc(100% - 24px );
        padding: 8px;
        border-radius: 8px;
        outline: none;
        margin: 8px 0;
        
    }
    button{
        width: 100%;
        padding: 8px;
        background-color: var(--primarycolor);
        color:#fff;
        border:none;
        transition: all 500ms ease;
        border-radius: 8px;

    }
    button:hover{
        padding: 10px;
        opacity: 0.5;
    }
    .ant-tabs-nav-wrap{
        justify-content: center;
    }
}
